<div id="divider2"></div>
<section id="information">
  <p class="text-justify"> As a Administrator, you can create, edit, update and delete users groups. The users created will can access to the application according to the role provided. </p>
  <p class="text-justify">  </p>
</section>
<div class="container" id="formUsersRegister">
  <div class="row justify-content-center"> <!-- para centrar el contenedor (el div)-->
    <div class="col-lg-8 col-md-8 col-sm-12">
      <div class="card">
        <div class="card-header text-center font-weight-bold text-primary"> 
          <h3 id="titulo-form" class="text-success">  Users Form Data</h3>
        </div>
        <div class="card-body">    
          <form (ngSubmit)="registerUser()">  
            <div class="form-group row"> 
              <div class="col-2 d-flex justify-content-center">
                <i class="fa fa-id-card-o fa-2x" aria-hidden="true"></i>
              </div>
              <div class="col">
                <input type="text" class="form-control" id="InputID" placeholder="ID User" [(ngModel)]="object.id" name="id">
              </div> 
            </div>
            <div class="form-group row"> 
              <div class="col-2 d-flex justify-content-center">
                <i class="fa fa-user fa-2x" aria-hidden="true"></i>
              </div>
              <div class="col">
                <input type="text" class="form-control" id="InputName" placeholder="First name" [(ngModel)]="object.name" name="name">
              </div> 
              <div class="col">
                <input type="text" class="form-control" id="InputLastName" placeholder="Last name" [(ngModel)]="object.lastName" name="lastName">
              </div> 
            </div>
            <div class="form-group row">
              <div class="col-2 d-flex justify-content-center">
                <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
              </div> 
              <div class="col-10">
                <input type="text" class="form-control" id="InputEmail" placeholder="example@domain.com" [(ngModel)]="object.email" name="email">  
              </div>                                 
            </div>
            <div class="form-group row"> 
              <div class="col-2 d-flex justify-content-center">
                <i class="fa fa-id-card-o fa-2x" aria-hidden="true"></i>
              </div>
              <div class="col">
                <input type="text" class="form-control" id="InputPasswordUser" placeholder="password" [(ngModel)]="object.password" name="password">
              </div> 
            </div>
            <div class="row justify-content-center">   
              <div class="col-6">
                <button type="submit" class="col-12 btn btn-success"> Add</button>
              </div> 
              <div class="col-6">
                <button type="button" class="col-12 btn btn-warning" (click)="clearInputs()"> Clear </button>
              </div>      
            </div>  
          </form>
        </div>
      </div>      
    </div>
  </div>
</div>