<div class="row" id="footer">
  <div class="col-12 text-center">
    <p class="text-center"> &copy; 2017 SmartSDK | FIWARE &reg; | This application is supported by </p>
  </div>
  <div class="row col-12 justify-content-center">
    <img src="../../../assets/images/smartsdk.png" alt="" width="260" height="50">
    <img src="../../../assets/images/logo-fiware.png" alt="" width="250" height="60"> 
    <img src="../../../assets/images/flageuropeanunion.png" alt="" width="160" height="65">    
  </div>
  <div class="row col-12 justify-content-center">
      <img src="../../../assets/images/CENIDETlogo.png" alt="" width="200" height="60">
  </div>
</div>
