<div class="" id="nav-content">
  <nav class="navbar col-12">
    <h2 style="color: #1a237e;"> Security Guards Administration </h2>
  </nav>
  <div id="divider2"></div>
  <section id="information">
    <p class="text-justify"> As a Administrator, you can create, edit, update and delete groups of security guards separated for campus and zones. The groups created will be visualized for all the security guards. </p>
    <p class="text-justify">  </p>
  </section>
  <div class="container" id="formUsersRegister">
    <div class="row justify-content-center"> <!-- para centrar el contenedor (el div)-->
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="card">
          <div class="card-header text-center font-weight-bold text-primary"> 
            <h3 id="titulo-form" class="text-success">  Security Guards Form Data</h3>
          </div>
          <div class="card-body">    
            <form>  
              <div class="form-group row">
                <div class="col-2 d-flex justify-content-center">
                  <i class="fa fa-id-card-o fa-2x" aria-hidden="true"></i>
                </div>
                <div class="col-10">
                  <select id="InputSGName" class="form-control" [(ngModel)]="guardname" name="guardname">
                  <option selected disabled value="null">Select a security guard name</option>
                  <option value="nameguard">Jorge Palacios</option>
                  </select>  
                </div>
              </div>
              <div class="form-group row">
                <div class="col-2 d-flex justify-content-center">
                  <i class="fa fa-map-o fa-2x" aria-hidden="true"></i>
                </div>
                <div class="col-10">
                  <select id="InputCampus" class="form-control" [(ngModel)]="campusname" name="campusname">
                  <option selected disabled value="null">Select a campus name</option>
                  <option value="Palmira">Palmira</option>
                  </select>  
                </div>
              </div>
              <div class="form-group row">
                <div class="col-2 d-flex justify-content-center">
                  <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                </div>
                <div class="col-10">
                  <select id="InputZone" class="form-control" [(ngModel)]="zonename" name="zonename">
                  <option selected disabled value="null">Select a zone of the campus</option>
                  <option value="Computacion">Electrónica</option>
                  <!--<option value="Administracion">Administración</option>
                  <option value="Electronica">Electrónica</option>
                  <option value="Cafeteria">Cafeteria</option>
                  <option value="Auditorio">Auditorio</option>-->
                  </select>  
                </div>
              </div>
              <div class="form-group row justify-content-center">
                <div class="col-2 d-flex justify-content-center">
                  <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
                </div>
                <div class="col-5">
                  <h5 class="text-left">Check in Time</h5>
                </div>
                <div class="col-5">
                  <h5>Departure Time</h5>
                </div>
              </div>
              <div class="form-group row justify-content-center">                
                <div class="col-2">
                  <input type="text" class="form-control text-center" id="InputCheckInTimeHours" placeholder=" 00" [(ngModel)]="checkinhour" name="checkinhour">
                </div> 
                <div class="col-1">
                  <h2>:</h2>
                </div>
                <div class="col-2">
                  <input type="text" class="form-control text-center" id="InputDepartureTimeMinutes" placeholder="00" [(ngModel)]="checkinminute" name="checkinminute">
                </div>
                <div class="col-2">
                  <input type="text" class="form-control text-center" id="InputDepartureTimeHours" placeholder=" 00" [(ngModel)]="departurehour" name="departurehour">
                </div> 
                <div class="col-1">
                  <h2>:</h2>
                </div>
                <div class="col-2">
                  <input type="text" class="form-control text-center" id="InputDepartureTimeMinutes" placeholder="00" [(ngModel)]="departureminute" name="departureminute">
                </div>    
              </div> 
              <div class="row justify-content-center">   
                <div class="col-4">
                  <button type="button" class="col-12 btn btn-success"> Add</button>
                </div>  
                <div class="col-4">
                  <button type="button" class="col-12 btn btn-info">Search </button>
                </div>
                <div class="col-4">
                  <button type="button" class="col-12 btn btn-warning" (click)="clearInputs()"> Clear </button>
                </div>      
              </div>  
            </form>
          </div>
        </div>      
      </div>
    </div>
  </div>
  <nav class="navbar col-12">
      <h2 style="color: #1a237e;"> Security Guard's List</h2>
  </nav>
  <section id="results">
    <table class="table table-striped table-bordered table-responsive text-center"> 
      <thead class="thead-inverse">
        <tr>
          <th class="text-center">IDUser</th>
          <th class="text-center">Name</th>
          <th class="text-center">Last Name</th>
          <th class="text-center">Campus</th>
          <th class="text-center">Zone</th>
          <th class="text-center">CheckInTime</th>
          <th class="text-center">DepartureTime</th>
          <th class="text-center">Edit</th>
          <th class="text-center">Delete</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <th scope="row" class="text-center">1</th>
            <td>Jorge</td>
            <td>Palacios</td>
            <td>Palmira</td>
            <td>Electrónica</td>
            <td>08:00</td>
            <td>16:00</td>
            <td><a class="btn btn-success btn-sm green" role="button"><i class="fa fa-pencil text-white"></i></a></td>
            <td><a class="btn btn-danger btn-sm red"><i class="fa fa-trash text-white" aria-hidden="true"></i></a></td>            
            <!--<td><a class="btn-floating btn-sm green"><i class="fa fa-pencil text-white"></i></a></td>
            <td><a class="btn-floating btn-sm red"><i class="fa fa-trash text-white" aria-hidden="true"></i></a></td>-->
          </tr>
      </tbody>
    </table>
  </section>
</div>   
