<div class="" id="nav-content">
  <nav class="navbar">
    <h2 style="color: rgb(26, 35, 126);"> Alerts Administration </h2>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light blue-grey lighten-5">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/alerts/alerts-map" routerLinkActive="active-link"> Alerts Map </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/alerts/alerts-list" routerLinkActive="active-link"> Alerts List </a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet> 
  <!--<div id="divider2"></div>
  <section class="container" id="page-container"> 
    <form id="form-campus">
      <div class=" form-group">
        <label for="InputCampusList"> <h5> <i class="fa fa-map-o fa-2x" aria-hidden="true"></i>  Select a campus: </h5></label>
        <select id="InputCampusList" class="form-control" [(ngModel)]="campusQuery" (change)="onChangeValueCampus($event.target.value)" name="campusQuery">       
          <option selected value="null" disabled>Select a campus name</option>
          <option *ngFor="let item of listCampus" [ngValue]="item._id"> {{item.name}} </option>
        </select>
      </div>
    </form> 
    <div class="row container">
      <div class="col-8 card hoverable" id="map" *ngIf="campusQuery===null" leaflet [leafletOptions]="optionsInit"></div>
      <div class="col-8 card hoverable" id="map" *ngIf="showMapAlerts" leaflet [leafletOptions]="options" [leafletLayers]="layers">
      </div>
      <div class="col-4">
        <div class="row justify-content-center">
          <h4> List of Alerts </h4>
        </div>
        <ul class="card list-group hoverable" >
          <li class="list-group-item" *ngFor="let item of alerts"> Category: {{item.category}} 
            Subcategory: {{item.subCategory}} </li>
        </ul>
      </div> 
    </div>  
  </section>   
  <nav class="navbar col-12">
    <h2 style="color: #1a237e;"> Alerts History </h2>
  </nav>
  <section id="results">
    <table class="table table-striped table-bordered table-responsive text-center"> 
      <thead class="thead-inverse">
        <tr>
          <th class="text-center">AlertSource</th>
          <th class="text-center">Category</th>
          <th class="text-center">Subcategory</th>
          <th class="text-center">Description</th>
          <th class="text-center">Location</th>
          <th class="text-center">Severity</th>
          <th class="text-center">View Info</th>
          <th class="text-center">Edit</th>
          <th class="text-center">Delete</th>
        </tr>
      </thead>
        <tbody>
          <tr *ngFor="let item of alertsDB | async">
            <td>{{item.alertSource}}</td>
            <td>{{item.category}}</td>
            <td>{{item.subCategory}}</td>
            <td>{{item.description}}</td>
            <td>{{item.location}}</td>
            <td>{{item.severity}}</td>
            <td><a class="btn btn-primary btn-sm blue" ><i class="fa fa-eye text-white" aria-hidden="true"></i></a></td>
            <td><a class="btn btn-success btn-sm green"><i class="fa fa-pencil text-white" aria-hidden="true"></i></a></td>
            <td><a class="btn btn-danger btn-sm red"><i class="fa fa-trash text-white" aria-hidden="true"></i></a></td>
          </tr>
        </tbody>
      </table>
   </section>-->
</div>     