:host{
    padding: 0;
}
#map{    
    top: 2%;
    height: 400px;     
}
#results{
    padding: 1em;
}
#form-campus{
    color: #1a237e;
    font-style: italic;
    font-weight: bolder;
}
#page-container{
    margin-top: 2em;
    padding-bottom: 4%;
}