:host{
    padding: 0;
}
#map{    
    top: 2%;
    height: 400px;     
}
#results{
    padding: 1em;
}
#form-campus{
    color: #1a237e;
    font-style: italic;
    font-weight: bolder;
}
#page-container{
    margin-top: 2em;
    padding-bottom: 4%;
}
li a.active-link:link, li a.active-link:visited{
    color: #040e58;
    background-color: rgb(181, 227, 240); 
    border-radius: 3px; 
    font-weight: bold;
   /*padding-left: 5%;*/
}