
  <div class="col-12" id="nav-content">
    <nav class="navbar">
      <h2 style="color: #1a237e;"> Dashboard </h2>
    </nav>
    <section id="principal-information">
      <p class="text-justify"> Alerts Graphs - Record. </p>
      <p class="text-justify"> NOTE: The record are shown per alert type monthly. </p>
    </section>
    <section id="filters">
      <h4>Graphic Filters</h4>
      <div class="">
        <div class="row">          
          <div class="col-4">
            <p><i class="fa fa-map-o" aria-hidden="true"></i> Select a campus</p>
            <select id="InputCampus" class="form-control">
              <option> Choose a Campus</option>
              <option value="" selected>Campus A</option>
              <option value="">Campus B</option>
              <option value="">Campus C</option>
            </select>  
          </div>
          <div class="col-4">
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Select a zone map</p>
            <select id="InputZone" class="form-control">
              <option selected>Choose a Zone Map</option>
              <option value="">Zone A1</option>
              <option value="">Zone A2</option>
              <option value="">Zone A3</option>
            </select>    
          </div>
          <div class="col-4">
            <p><i class="fa fa-street-view" aria-hidden="true"></i> Select a user role</p>
            <select id="InputUserRole" class="form-control">
              <option selected>Choose a User Role</option>
              <option value="">User</option>
              <option value="">Security Guard</option>
            </select>    
          </div>
        </div>
      </div>
    </section>
  </div>   