<div id="divider2"></div>
<section id="information">
  <p class="text-justify"> As a Administrator, you can create, edit, update and delete groups of security guards separated for campus and zones. The groups created will be visualized for all the security guards. </p>
  <p class="text-justify">  </p>
</section>
<div class="container" id="formUsersRegister">
  <div class="row justify-content-center"> <!-- para centrar el contenedor (el div)-->
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="card">
        <div class="card-header text-center font-weight-bold text-primary"> 
          <h3 id="titulo-form" class="text-success">  Security Guards Form Data</h3>
        </div>
        <div class="card-body">    
          <form (ngSubmit)="registerSG()">
            <div class="form-group row"> 
              <div class="col-2 d-flex justify-content-center">
                <i class="fa fa-id-card-o fa-2x" aria-hidden="true"></i>
              </div>
              <div class="col">
                <input type="text" class="form-control" id="InputID" placeholder="ID Security Guard" [(ngModel)]="sg.idUser" name="id">
              </div> 
            </div>
            <div class="form-group row"> 
              <div class="col-2 d-flex justify-content-center">
                <i class="fa fa-user fa-2x" aria-hidden="true"></i>
              </div>
              <div class="col">
                <input type="text" class="form-control" id="InputName" placeholder="First name" [(ngModel)]="sg.name" name="name">
              </div> 
              <div class="col">
                 <input type="text" class="form-control" id="InputLastName" placeholder="Last name" [(ngModel)]="sg.lastName" name="lastName">
              </div> 
            </div>
            <div class="form-group row">
              <div class="col-2 d-flex justify-content-center">
                <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
              </div> 
              <div class="col-10">
                <input type="text" class="form-control" id="InputEmail" placeholder="example@domain.com" [(ngModel)]="sg.email" name="email">  
              </div>                                 
            </div>  
            <div class="form-group row">
              <div class="col-2 d-flex justify-content-center">
                <i class="fa fa-map-o fa-2x" aria-hidden="true"></i>
              </div>
              <div class="col-10">
                <label for="InputCampusList">Campus Name</label>
                <select id="InputCampusList" class="form-control" [(ngModel)]="selectedCampus" (change)="onChangeValueCampus($event.target.value)" name="selectedCampus">       
                  <option selected value="null" disabled>Select a campus name</option>
                  <option *ngFor="let item of listCampus" [ngValue]="item['_id']"> {{item.name}} </option>
                </select>
              </div> 
            </div>
            <div class="form-group row" *ngIf="selectedCampus!=null">
              <div class="col-2 d-flex justify-content-center">
                <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
              </div>
              <div class="col-10">
                <label for="InputZoneName">Zone Name</label>
                <select id="InputCampusList" class="form-control" [(ngModel)]="selectedZone" name="selectedZone">       
                  <option selected value="null" disabled>Select the zone name</option>
                  <option *ngFor="let item of listZonesCampusSelected" [ngValue]="item._id"> {{item.name}} </option>
                </select>
              </div>
            </div>
            <div class="form-group row justify-content-center">
              <div class="col-2 d-flex justify-content-center">
                <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
              </div>
              <div class="col-5">
                <h5 class="text-left">Check in Time</h5>
              </div>
              <div class="col-5">
                <h5>Departure Time</h5>
              </div>
            </div>
            <div class="form-group row justify-content-center">                
              <div class="col-2">
                <input type="text" class="form-control text-center" id="InputCheckInTimeHours" placeholder=" 00" [(ngModel)]="checkinhour" name="checkinhour">
              </div> 
              <div class="col-1">
                <h2>:</h2>
              </div>
              <div class="col-2">
                <input type="text" class="form-control text-center" id="InputDepartureTimeMinutes" placeholder="00" [(ngModel)]="checkinminute" name="checkinminute">
              </div>
              <div class="col-2">
                <input type="text" class="form-control text-center" id="InputDepartureTimeHours" placeholder=" 00" [(ngModel)]="departurehour" name="departurehour">
              </div> 
              <div class="col-1">
                <h2>:</h2>
              </div>
              <div class="col-2">
                <input type="text" class="form-control text-center" id="InputDepartureTimeMinutes" placeholder="00" [(ngModel)]="departureminute" name="departureminute">
              </div>    
            </div> 
            <div class="row justify-content-center">   
              <div class="col-6">
                <button type="submit" class="col-12 btn btn-success"> Add</button>
              </div>  
              <div class="col-6">
                <button type="button" class="col-12 btn btn-warning" (click)="clearInputs()"> Clear </button>
              </div>      
            </div>  
          </form>
        </div>
      </div>      
    </div>
  </div>
</div>
