:host{
    padding: 0;
}
#information{
    margin: 1em;
}
#formCampus, #formCampusMap, #formZone, #formZoneMap{
    margin-top: 3%;
    margin-bottom: 2.5%;
}
#map{    
    height: 400px;     
}
#header-results{
    margin-top:2.5em;
}
#results{
    padding: 1em;
}