<div class="" id="nav-content">
  <nav class="navbar col-12">
    <h2 style="color: #1a237e;"> Areas Administration </h2>
  </nav>
  <div id="divider2"></div>
  <section id="information">
    <p class="text-justify"> As a Administrator, you can create, edit, update and delete campus and zones. The campus and  zones created will be visualized for all the final users. </p>
    <p class="text-justify">  </p>
  </section>
  <div class="container">
    <!--<div class="row justify-content-center" >
      <h4 style="color: #28C081;" class="text-center">For registrate a area an option, clicking a button.</h4>
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="row">
          <div class="col-6 d-flex justify-content-center">
            <button type="button" class=" col-12 btn btn-cyan" (click)="campusForm()">Area Form</button>     
          </div>
          <div class="col-6 d-flex justify-content-center">
            <button type="button" class="col-12 btn btn-light-green" (click)="zoneForm()">Zone Form</button>        
          </div>
        </div>       
      </div>
    </div>-->  
  </div>
  <div class="container" id="formCampus" *ngIf="selectCampus" >
    <div class="row justify-content-center"> <!-- para centrar el contenedor (el div)-->
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="row justify-content-center" *ngIf="drawWarningMessage" >
          <h4 style="color: red;" class="text-center">{{ drawWarningMessage }}</h4>
        </div>
        <!--<div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Campus saved successfully!</strong> The information has been saved.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>-->
        <div class="card">
          <div class="card-header text-center font-weight-bold text-primary"> 
            <h3 id="titulo-form" class="text-success"> Area Form Data</h3>
          </div>
          <div class="card-body">    
            <form (ngSubmit)="registerCampus()">  
              <div class="form-group">
                <i class="fa fa-map-o fa-2x" aria-hidden="true"></i>
                <label for="InputCampusName">Area Name</label>
                <input type="text" class="form-control" id="InputCampusName" placeholder="Insert a campus name" required [(ngModel)]="campus.name" name="name">
              </div>
              <!--<div class="form-group">
                <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                <label for="InputAddressCampus">Adress's Campus</label>
                <input type="text" class="form-control" id="InputAddressCampus" placeholder="Insert the address of the campus" required [(ngModel)]="campus.address" name="address">
              </div>-->
              <div class="form-group text-center font-weight-bold text-primary"> 
                <h3 id="titulo-form" class="text-success"> Delimite Area</h3>
              </div>
              <div class="form-group row justify-content-center">
                <div class="col-6">
                  <button type="button" class="btn btn-secondary col-lg-12 col-12" (click)="startDraw()"> Start draw </button>
                </div>
                <div class="col-6">
                  <button type="button" class="btn btn-warning col-lg-12 col-12" (click)="endDraw()"> End draw </button>                    
                </div> 
              </div>
              <button type="submit" class="btn btn-info col-lg-12 col-12"> Save Information </button>      
            </form>
          </div>
        </div>      
      </div>
    </div>
  </div>
  <!--<div class="container" id="formZone" *ngIf="selectZone" >
    <div class="row justify-content-center"> para centrar el contenedor (el div)
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="card">
          <div class="card-header text-center font-weight-bold text-primary"> 
            <h3 id="titulo-form" class="text-success"> Zone Form Data</h3>
          </div>
          <div class="card-body">    
            <form (ngSubmit)="registerZone()">  
              <div class="form-group">
                <i class="fa fa-map-o fa-2x" aria-hidden="true"></i>
                <label for="InputCampusList">Campus Name</label>
                <select id="InputCampusList" class="form-control">
                  <option selected value="" disabled>Select a campus name</option>
                  <option value="Palmira">Palmira</option>
                </select> 
              </div>
              <div class="form-group">
                <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                <label for="InputZoneName">Zone Name</label>
                <input type="text" class="form-control" id="InputZoneName" placeholder="Insert the zone name" required >
              </div> 
              <div class="form-group text-center font-weight-bold text-primary"> 
                <h3 id="titulo-form" class="text-success"> Delimite Zone</h3>
              </div>
              <div class="form-group row justify-content-center">
                <div class="col-6">
                  <button type="button" class="btn btn-secondary col-lg-12 col-12" (click)="startDraw()"> Start draw </button>
                </div>
                <div class="col-6">
                  <button type="button" class="btn btn-warning col-lg-12 col-12" (click)="endDraw()"> End draw </button>                    
                </div> 
              </div>
              <button type="submit" class="btn btn-info col-lg-12 col-12"> Save Information</button>      
            </form>
          </div>
        </div>      
      </div>
    </div>
  </div>-->
  <nav class="d-flex justify-content-center">
    <h2 style="color: #1a237e;">Institution Map</h2>
  </nav>
  <!--<div class="container">
    <div class="row justify-content-center" >
      <div class="col-lg-8 col-md-8 col-sm-12">
        <h4 style="color: #28C081;" class="text-center">For a delimite a campus or zone, select an option, clicking a button.</h4>
        <div class="row">
          <div class="col-6 d-flex justify-content-center">
            <button type="button" class=" col-12 btn btn-cyan" (click)="campusFormMap()">Delimite a campus map</button>     
          </div>
          <div class="col-6 d-flex justify-content-center">
            <button type="button" class="col-12 btn btn-light-green" (click)="zoneFormMap()">Delimite a zone map of a campus</button>        
          </div>
        </div>       
      </div>
    </div>      
  </div>-->
  <!--<div class="container" id="formCampusMap" *ngIf="selectCampusMap" >
    <div class="row justify-content-center">para centrar el contenedor (el div)
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="card">
          <div class="card-header text-center font-weight-bold text-primary"> 
            <h3 id="titulo-form" class="text-success"> Delimite a Campus</h3>
          </div>
          <div class="card-body">    
            <form>  
              <div class="form-group">
                <i class="fa fa-map-o fa-2x" aria-hidden="true"></i>
                <label for="InputCampusList">Select a Campus Name</label>
                <select id="InputCampusList" class="form-control">
                  <option selected value="" disabled>Select a campus name</option>
                  <option value="Palmira">Palmira</option>
                </select> 
              </div>
              <div class="form-group row justify-content-center">
                <div class="col-6">
                  <button type="button" class="btn btn-secondary col-lg-12 col-12" (click)="startDrawCampus()"> Start draw </button>
                </div>
                <div class="col-6">
                  <button type="button" class="btn btn-warning col-lg-12 col-12" (click)="endDrawCampus()"> End draw </button>                    
                </div> 
              </div>
            </form>
          </div>
        </div>      
      </div>
    </div>
  </div>-->
  <!--<div class="container" id="formZoneMap" *ngIf="selectZoneMap" >
    <div class="row justify-content-center"> para centrar el contenedor (el div)
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="card">
          <div class="card-header text-center font-weight-bold text-primary"> 
            <h3 id="titulo-form" class="text-success"> Zone Form Data</h3>
          </div>
          <div class="card-body">    
            <form>  
              <div class="form-group">
                <i class="fa fa-map-o fa-2x" aria-hidden="true"></i>
                <label for="InputCampusList">Campus Name</label>
                <select id="InputCampusList" class="form-control">
                  <option selected value="" disabled>Select a campus name</option>
                  <option value="Palmira">Palmira</option>
                </select> 
              </div>
              <div class="form-group">
                <i class="fa fa-map-o fa-2x" aria-hidden="true"></i>
                <label for="InputZoneList">Zone Name</label>
                <select id="InputZoneList" class="form-control">
                  <option selected value="" disabled>Select a zone name</option>
                  <option value="Computacion">Electrónica</option>
                  <!--<option value="Administracion">Administración</option>
                  <option value="Electronica">Electrónica</option>
                  <option value="Cafeteria">Cafeteria</option>
                  <option value="Auditorio">Auditorio</option>
                </select> 
              </div>
              <div class="form-group row justify-content-center">
                <div class="col-6">
                  <button type="button" class="btn btn-secondary col-lg-12 col-12" (click)="startDrawCampus()"> Start draw </button>
                </div>
                <div class="col-6">
                  <button type="button" class="btn btn-warning col-lg-12 col-12" (click)="endDrawCampus()"> End draw </button>                    
                </div> 
              </div>      
            </form>
          </div>
        </div>      
      </div>
    </div>
  </div>-->
  <div  class="container col-12 justify-content-center" id="map" *ngIf="draw"
    leaflet
    leafletDraw
    [leafletOptions]="options"
    [leafletDrawOptions]="drawOptions"
    (leafletMapReady)="onMapReady($event)">
  </div>
  <!--<nav class="navbar col-12" id="header-results">
    <h2 style="color: #1a237e;"> Relation Campus-Zone Institution</h2>
  </nav>-->
  <!--<section id="results">
    <table class="table table-striped table-bordered table-responsive text-center"> 
      <thead class="thead-inverse">
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Campus</th>
          <th class="text-center">Zone</th>
          <th class="text-center">Edit</th>
          <th class="text-center">Delete</th>
        </tr>
      </thead>
      <tbody>-->
          <!--<tr>
            <th scope="row" class="text-center">1</th>
            <td>Palmira</td>
            <td>Computacion</td>
            <td><a class="btn btn-success btn-sm green" role="button"><i class="fa fa-pencil text-white"></i></a></td>
            <td><a class="btn btn-danger btn-sm red"><i class="fa fa-trash text-white" aria-hidden="true"></i></a></td>            
            <td><a class="btn-floating btn-sm green"><i class="fa fa-pencil text-white"></i></a></td>
            <td><a class="btn-floating btn-sm red"><i class="fa fa-trash text-white" aria-hidden="true"></i></a></td>
          </tr>
          <tr>
            <th scope="row" class="text-center">2</th>
            <td>Palmira</td>
            <td>Administracion</td>
            <td><a class="btn btn-success btn-sm green" role="button"><i class="fa fa-pencil text-white"></i></a></td>
            <td><a class="btn btn-danger btn-sm red"><i class="fa fa-trash text-white" aria-hidden="true"></i></a></td>
            <td><a class="btn-floating btn-sm green"><i class="fa fa-pencil text-white"></i></a></td>
            <td><a class="btn-floating btn-sm red"><i class="fa fa-trash text-white" aria-hidden="true"></i></a></td>
          </tr>-->
          <!--<tr>
            <th scope="row" class="text-center">1</th>
            <td>Palmira</td>
            <td>Electrónica</td>
            <td><a class="btn btn-success btn-sm green" role="button"><i class="fa fa-pencil text-white"></i></a></td>
            <td><a class="btn btn-danger btn-sm red"><i class="fa fa-trash text-white" aria-hidden="true"></i></a></td>
          </tr>-->
          <!--<tr>
            <th scope="row" class="text-center">4</th>
            <td>Palmira</td>
            <td>Cafeteria</td>
            <td><a class="btn btn-success btn-sm green" role="button"><i class="fa fa-pencil text-white"></i></a></td>
            <td><a class="btn btn-danger btn-sm red"><i class="fa fa-trash text-white" aria-hidden="true"></i></a></td>
            <td><a class="btn-floating btn-sm green"><i class="fa fa-pencil text-white"></i></a></td>
            <td><a class="btn-floating btn-sm red"><i class="fa fa-trash text-white" aria-hidden="true"></i></a></td>
          </tr>-->
    <!--</tbody>
    </table>-->
  <!--</section>-->
  <!--<div class="container" style="margin-top: 30px;">    
    <div class="row">
      <div class="col-sm-12">
        <div leaflet style="height: 500px;"
          leafletDraw
          [leafletOptions]="options"
          [leafletDrawOptions]="drawOptions">
        </div>
      </div>
    </div>
  </div>-->
</div>   
